# Семинар 3

__Имя:__ Маликов Денис
__Дата:__ 15.09.22
__Группа:__ ПИ22-5

### Задания по семинару 2

0) Получить переменную, содержащую строку со значением равным двум в одиннадцатой степени и вывести ее на экран.

In [ ]:
line = str(2**11)
print(line)

2048

1) Наибольшим количеством способов создать строковую переменную, содержащую текст:

It's "quoted string"

In [ ]:
print("It's " + '"quoted string"')
print("It's \"quoted string\"")

It's "quoted string"
It's "quoted string"

2) Наибольшим количеством способов создать строковую переменную, содержащую текст:

In [ ]:
print('line1\n\nline2\n\nline3')

line1

line2

line3

3) Наибольшим количеством способов создать строковую переменную, содержащую текст:

In [ ]:
print("\\"*4 + "\n\n" + "\\"*3 + "\n\n" + "\\"*2 + "\n\n" + "\\")

\\\\

\\\

\\

\

4) Вывести 5й с начала и 5й с конца символ из строки 'Hello world'

In [ ]:
string = "Hello world"
print(string[4],string[-5])

o w

5) Двумя способами получить символ 'w' из строки 'Hello world'

In [ ]:
string = "Hello world"
print(string[-5],string[6])

w w

6) Вывести символ, находящийся в середине заранее низвестной строки, полученной с помощью функции input()

In [ ]:
string = input()
x = len(string)//2
print(string[x])

12345
3

7) Для строки 'Light ray' двумя способами получить подстроку с 1го по 4й символы включительно.

In [ ]:
string = 'Light ray'
print(string[0:4])
print(string[0], string[1], string[2], string[3], sep = '')

Ligh
Ligh

8) Для строки 'My new text' двумя способами получить подстроку с 3го по 7й символы включительно.

In [ ]:
string = 'My new text'
print(string[2], string[3], string[4], string[5], string[6], sep = '')
print(string[2:7])

 new
 new

9) Получить подстроку из последних 4х символов строки 'Light ray'.

In [ ]:
string = 'Light ray'
print(string[5:])

 ray

10) Составить строку из всех четных символов строки 'Light ray'.

In [ ]:
string = 'Light ray'
print(string[1::2])

ih a

11) Составить строку из всех нечетных символов строки 'Light ray'.

In [ ]:
string = 'Light ray'
print(string[::2])

Lgtry

12) Инвертировать (получить строку с обратной последовательностью символо) строку  'Light ray'.

In [ ]:
string = 'Light ray'
print(string[::-1])

yar thgiL

13) Вывести c третьего с начала до предпоследнего символа заранее низвестной строки, полученной с помощью функции input().

In [ ]:
string = input()
print(string[2:-1])

hello
ll

14) Получить подстроку неизвестной заранее строки, содержащую половину символов строки и расположенную по середине строки.

In [ ]:
string = input()
x = len(string)//2
x//=2
print(string[x+1:-x-1])

1234567
345

15) Проверить, содержит ли произвольная строка, прочитанная в обратную сторону последовательность 'eno'

In [ ]:
string = input()
string2 = string[::-1]
if 'eno' in string2:
    print(True)
else:
    print(False)

hgfone
True

16) Получить строку, начинающуюся с последних 3 символов стркои 'Light ray', а заканчивающуюся подстрокой с 1го до 4го символоа строки.

In [ ]:
string = 'Light ray'
print(string[-1] + string[-2] + string[-3] + string[0:4])

yarLigh

17) Коротко записать создание строки 'oneoneoneoneoneonetwotwotwo'

In [ ]:
print('one'*6 + 'two'*3)

oneoneoneoneoneonetwotwotwo

18) Разбить строку ' one,two,three,four,five,six,seven,eight,nine,ten ' на список из строк, состоящих только из названий цифр.

In [ ]:
string = ' one,two,three,four,five,six,seven,eight,nine,ten '
string2 = string.split(',')
string2[0] = string2[0][1:]
string2[-1] = string2[-1][:-1]
print(*string2)

one two three four five six seven eight nine ten

19) Вставить между всеми символами строки 'Hello world' стрелочку '->' и сохранить результат в строковой переменной(ожидаемый результат: 'H->e->l->l->o-> ->w->o->r->l->d')

In [ ]:
string = "Hello world"
string = list(string)
string2 = ''
for i in range(11):
    if i == 10:
        string2 += string[10]
    else:
        string2 += string[i]+'->'
print(string2)

H->e->l->l->o-> ->w->o->r->l->d

20) Для двух произвольных строк провести сравнение на совпадение содержимого без учета регистра букв и начальных и конечных пробельных символов. Например, для двух строк ' HeLLO WOrlD' и 'hello WORLD ' такое сравнение должно возвращать True (содержание строк совпадает).

In [ ]:
str1 = input()
str2 = input()
str1 = str1.replace(" ",'')
str2 = str2.replace(" ",'')
if str1.lower() == str2.lower():
    print(True)
else:
    print(False)

 HeLLO WOrlD
hello WORLD
True

21) В строке 'hello hello Hello hello' средствами Python найти индекс второго вхождения подстроки 'hel'

In [ ]:
string = 'hello hello Hello hello'
count = 0
for i in range(len(string)-2):
    if string[i] == 'h' and string[i+1] == 'e' and string[i+2] == 'l':
        count += 1
    if count == 2:
        print(i)
        break

6

22) В строке 'hello hello Hello hello' средствами Python найти индекс второго с конца вхождения подстроки 'hel'

In [ ]:
string = 'hello hello Hello hello'
count = 0
for i in range(len(string)-1,2,-1):
    if string[i] == 'l' and string[i-1] == 'e' and string[i-2] == 'h':
        count += 1
    if count == 2:
        print(i)
        break

8

23) Из заранее неизвестной строки вырезать подстроку, начинающуюся с 'he' и заканчивающееся 'on' (протестировать на строке ' start hello python world'.

In [ ]:
string = input()
string2 = ''
if 'he' in string:
    for i in range(len(string)):
        if string[i] == 'h' and string[i+1] == 'e':
            string2 += string[:i]
if 'on' in string:
    for i in range(len(string)):
        if string[i] == 'o' and string[i+1] == 'n':
            string2 += string[i+2:]
        
print(string2)

start hello python world
start  world

24)* Используя цикл for и функцию enumerate() (см. лекцию 2) в вывести произвольную строку на экран и при этом убрать все пробелы и на их месте вывести номер слова по счету (пример: исходная строка 'hello hello Hello hello' -> выведено на экран 'hello1hello2Hello3hello4')

In [ ]:
string = input()
string = string.split()
string2 = ''
for i, val in enumerate(string, start = 1):
    string2 += val + str(i)
    #string2 += string[i] + str(val) + " "
print(string2)

hello hello Hello hello
hello1hello2Hello3hello4

25) Сформировать строку форматирования, которая для вызова format('val1', 'val2', 'val3') будет возрващать следующий результат: 'val3-val2-val1-val2-val3

In [ ]:
print("{2}-{1}-{0}-{1}-{2}".format('val1', 'val2', 'val3'))

val3-val2-val1-val2-val3

26) Сформировать строку форматирования fs, которая на при использовании в нижеследующем коде приводит к формированию таблицы, выведенной в следующей ячейке.

In [ ]:
Я дико извиняюсь, но условие не понял. Простите.

Дополнительно: написать простейший текстовый редактор с построчным вводом строк, которые будут записаны в файл. Перед вводом текста пользователь должен ввести название файла. после ввода пустой строки программа должна завершиться

In [ ]:
file_name = input('Введите название файла: ')
file_name += '.txt'
f = open(file_name, 'w')
while True:
    string = input()
    if string == '':
        break
    f.write(string + '\n')
f.close()