# Семинар 3: Логические переменные, операции сравнения, условный оператор

__Дата:__ 22.09.22     
__Выполнил:__ Маликов Денис Владимирович        
__Группа:__ ПИ22-5

## Задания

1 Проверить выполнение следующих логических тождеств (законов де Моргана) для всех значений А и В (FF, FT, TF, TT):

![Объекты и ссылки на объекты](2017sem03-bool-deMorgan.png)

In [ ]:
for A in [False, True]:
    for B in [False, True]:
        print(not(A or B) == (not(A) and not(B)))

True
True
True
True

In [ ]:
for A in [False, True]:
    for B in [False, True]:
        print(not(A and B) == (not(A) or not(B)))

True
True
True
True

2) Записать систему неравенств в одну строку БЕЗ использования and, or, True, False (разрешаются только операции сравнения):
* x^2 > 6 - x 
* x > 0

Проверить на x = -5 (False), 3 (True), 1 (False), 0 (False):

In [ ]:
x = int(input())
print((x**2 > 6-x) == (x > 0) == True)

0
False

3) Записать все следующие условия в одну цепочку неравенств (без использования логических операторов):
* 0 <= a <= c
* 0 <= b < c
* b == 2
* 0 <= c < 5

In [ ]:
x = (0 <= a <= c) == (0 <= b < c) == (b == 2) == (0 <= c < 5) == True

3.2) Запросить пользователя ввести две строки. Проверить, что первая строка длиннее второй, но при этом находится ближе в лексикографическом порядке. Подобрать пару строк, удовлетворяющую условию.

In [9]:
string1 = input()
string2 = input()
print((len(string1) > len(string2)) == (string1 > string2) == True)

stringlong
string
True

4) Записать перечисленные строки в порядке возрастания. Для проверки воспользуйтесь цепочкой из последовательных сравнений (s1 < s2 < s3 < ...), которая должна возвращать True:
* s1 = 'string'
* s2 = 'String'
* s3 = 'strinG'
* s4 = 'stringlong'
* s5 = ' string'
* s6 = 'string '
* s7 = '_string'

In [ ]:
s1 = 'string'
s2 = 'String'
s3 = 'strinG'
s4 = 'stringlong'
s5 = ' string'
s6 = 'string '
s7 = '_string'
print(s5 < s2 < s7 < s3 < s1 < s6 < s4)

True

5) Если в произвольной входной строке встречается "!!!", выводить на печать "exclaim". При этом если строка начинается с "!!!", вместо этого выводить "Nota bene: " и исходную строку без восклицательных знаков. Если встречается "???", то выводить "question". Если встречаются оба ("!!!" и "???"), то ничего не выводить. В других случаях выводить "random".

In [1]:

string = input()
if '!!!' in string and '???' in string:
  pass
elif string[:3] == '!!!':
  print('Nota bene:', string[3:])
elif '!!!' in string:
  print('exclaim')
elif '???' in string:
  print('question')
else:
  print('random')

dsgb&&???rehs
question

6) В задании 1 добавить проверку на длину входной строки. Если длина строки больше 5, выполнять инструкцию из задания 1. В противном случае выводить исходную строку три раза подряд через дефис, если количество символов нечетное.

In [ ]:
string = input()
if len(string) > 5:
    pass
else:
    if len(string) % 2 != 0:
        print(string, '-', string, '-', string)

7
7 - 7 - 7

7) Протестировать инструкцию: x = a _if_ condition _else_ b на примере: в переменную friend записать x, если в x встречается слово "banana", в ином случае записать в нее y. 

Пример: при x = "banana monkey", y = "orangutan" значение переменной friend должно быть равно "banana monkey".

In [2]:
x,y = "banana monkey", "orangutan"
friend = [x if "banana" in x else y]
print(friend)

['banana monkey']